.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

a {
    text-decoration: none;
    color: white;
}

.navLeft {
    display: flex;
    align-items: center;
    gap: 30px;
}

.navRight {
    display: flex;
    
    gap: 30px;
}

*{
    background-color: black;
}