html {
    height: 100%;
}
body {
    margin:0;
    padding:0;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(#141e30, #243b55);
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
    font-family: 'Montserrat', sans-serif;
}
.login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
    font-family: 'Montserrat', sans-serif;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #797979;
    font-size: 12px;
}

.login-box form .login-btn {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #797979;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 4px;
    font-family: 'Montserrat', sans-serif;
}

.login-box .login-btn:hover {
    background: #797979;
    color: #222;
    border-radius: 5px;
}

.login-box .login-btn span {
    position: absolute;
    display: block;
}


.login-box .btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.login-box .signup-btn {
    text-decoration: underline;
    cursor: pointer;
}

.login-box .signup-btn:hover{
    color: #039be5;
}