* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

nav {
    display: flex;
}

.left-nav {
    position: absolute;
    top: 20px;
    left: 30px;
}

.right-nav {
    position: absolute;
    top: 10px;
    right: 20px;
}

.full-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 3rem;
    color: #eee;
}

.info-container .character-name{
    font-size: xxx-large;
}

.info-container .description{
    font-size: x-large;
}

.card {
    max-width: 320px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, .05);
    color: #eee;
    font-family: 'Montserrat', sans-serif;
}

.banner-alice img{
    width: -webkit-fill-available;
    object-fit: cover;
}

.card.top .card-header{
    border-radius: 10px 10px 0 0;
}

.card.bottom .body{
    border-radius:  0 0 10px 10px;
}

.card-header {
    padding: 1rem;
    font-weight: 600;
    background-color: #777;
}

.body {
    padding: 1rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    background-color: #333;
}