my-dashboard{
    display: flex;
    justify-content: center;
    
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

character-info {
    font-family: 'Montserrat', sans-serif;
}